#classement {
    border: 1px solid black;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    vertical-align: top;
    overflow-y: scroll;
    height: 400px;
    background-color: rgba(184, 108, 255, 0.223);
}

body{
    background: #b50b90;
    background: radial-gradient(circle,rgba(181, 11, 144, 1) 0%, rgba(69, 5, 60, 1) 100%);
   
}
main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
